# Test linker config for banks $17 and $18
MEMORY {
    PRG17: start = $A000, size = $2000, type = ro, fill = yes, fillval = $FF;
    PRG18: start = $C000, size = $2000, type = ro, fill = yes, fillval = $FF;
}

SEGMENTS {
    CODE_BANK17: load = PRG17, type = ro;
    CODE_BANK18: load = PRG18, type = ro;
}
