# Test linker config for banks $0E and $0F
MEMORY {
    PRG0E: start = $A000, size = $2000, type = ro, fill = yes, fillval = $FF;
    PRG0F: start = $C000, size = $2000, type = ro, fill = yes, fillval = $FF;
}

SEGMENTS {
    CODE_BANK0E: load = PRG0E, type = ro;
    CODE_BANK0F: load = PRG0F, type = ro;
}
