# Test linker config for banks $08 and $09
MEMORY {
    PRG08: start = $A000, size = $2000, type = ro, fill = yes, fillval = $FF;
    PRG09: start = $C000, size = $2000, type = ro, fill = yes, fillval = $FF;
}

SEGMENTS {
    CODE_BANK08: load = PRG08, type = ro;
    CODE_BANK09: load = PRG09, type = ro;
}
